// @argentinafreelance/base

// Positions
// -----------------------------------------------------------------------------

.fixed-superior,
.fixed-inferior {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}

.fixed-superior {
    top: 0;
}

.fixed-inferior {
    bottom: 0;
}

// Stacks
// -----------------------------------------------------------------------------

.hstack,
.vstack {
    display: flex;
    align-self: stretch;
}

.hstack {
    flex-direction: row;
    align-items: center;
}

.vstack {
    flex: 1 1 auto;
    flex-direction: column;
}

// Stretched link
// -----------------------------------------------------------------------------

.stretched-link {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zindex-stretched-link;
    }
}

// Text truncate
// -----------------------------------------------------------------------------

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Visually hidden
// -----------------------------------------------------------------------------

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}
