// @argentinafreelance/base

@use "sass:list";
@use "sass:map";

// Name of the next breakpoint.
// Null for the last breakpoint.
// -----------------------------------------------------------------------------

@function breakpoint-next($name) {
    $names: map.keys($breakpoints);
    $index: list.index($names, $name);

    @return if($index != null and $index < length($names), nth($names, $index + 1), null);
}

// Minimum breakpoint width.
// Null for the smallest (first) breakpoint.
// -----------------------------------------------------------------------------

@function breakpoint-min($name) {
    $min: map.get($breakpoints, $name);

    @return if($min != 0, $min, null);
}

// Maximum breakpoint width.
// Null for the largest (last) breakpoint.
// -----------------------------------------------------------------------------

@function breakpoint-max($name) {
    $next: breakpoint-next($name);

    @return if($next, breakpoint-min($next) - 0.02, null);
}

// Returns a blank string if smallest breakpoint,
// otherwise returns the name with a dash in front.
// -----------------------------------------------------------------------------

@function infix($name) {
    @return if(breakpoint-min($name) == null, "", "-#{$name}");
}

// Media of at least the minimum breakpoint width.
// No query for the smallest breakpoint.
// -----------------------------------------------------------------------------

@mixin superior-to($name) {
    $min: breakpoint-min($name);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

// Media of at most the maximum breakpoint width.
// No query for the largest breakpoint.
// -----------------------------------------------------------------------------

@mixin inferior-to($name) {
    $max: breakpoint-max($name);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

// Media that spans multiple breakpoint widths.
// -----------------------------------------------------------------------------

@mixin between($lower, $upper) {
    $min: breakpoint-min($lower);
    $max: breakpoint-max($upper);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include superior-to($lower) {
            @content;
        }
    } @else if $min == null {
        @include inferior-to($upper) {
            @content;
        }
    }
}

// Media between the breakpoint's minimum and maximum widths.
// -----------------------------------------------------------------------------

@mixin only($name) {
    $min: breakpoint-min($name);
    $max: breakpoint-max($name);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include superior-to($name) {
            @content;
        }
    } @else if $min == null {
        @include inferior-to($name) {
            @content;
        }
    }
}

// Fixed utility
// -----------------------------------------------------------------------------

@mixin fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}

@mixin fixed-superior {
    @include fixed;

    top: 0;
}

@mixin fixed-inferior {
    @include fixed;

    bottom: 0;
}

// Stack utility
// -----------------------------------------------------------------------------

@mixin stack {
    display: flex;
    align-self: stretch;
}

@mixin hstack {
    @include stack;

    flex-direction: row;
    align-items: center;
}

@mixin vstack {
    @include stack;

    flex: 1 1 auto;
    flex-direction: column;
}

// Stretched link utility
// -----------------------------------------------------------------------------

@mixin stretched-link {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zindex-stretched-link;
    }
}

// Text truncate utility
// -----------------------------------------------------------------------------

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Visually hidden utility
// -----------------------------------------------------------------------------

@mixin visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

// Input & Buttons
// -----------------------------------------------------------------------------

@mixin input-button(
    $display: $input-button-display,
    $font-weight: $input-button-font-weight,
    $font-family: $input-button-font-family,
    $transition: $input-button-transition,
    $disabled-opacity: $input-button-disabled-opacity,
    $disabled-cursor: $input-button-disabled-cursor
) {
    display: $display;
    font-weight: $font-weight;
    font-family: $font-family;
    transition: $transition;

    &:disabled {
        opacity: $disabled-opacity;
        cursor: $disabled-cursor;
    }
}

@mixin input-button-size(
    $width: $input-button-width,
    $height: $input-button-height,
    $padding: $input-button-padding,
    $border-width: $input-button-border-width,
    $border-radius: $input-button-border-radius,
    $font-size: $input-button-font-size,
    $line-height: $input-button-line-height
) {
    width: $width;
    height: $height;
    padding: $padding;
    border-width: $border-width;
    border-radius: $border-radius;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin input-button-variant(
    $border-color,
    $background-color,
    $color,
    $focus-border-color,
    $focus-background-color,
    $focus-color,
    $focus-box-shadow
) {
    border-color: $border-color;
    background-color: $background-color;
    color: $color;

    &:focus,
    &:hover {
        &:not(:disabled) {
            border-color: $focus-border-color;
            background-color: $focus-background-color;
            color: $focus-color;
            box-shadow: $focus-box-shadow;
        }
    }
}

// Inputs
// -----------------------------------------------------------------------------

@mixin input {
    appearance: none;
}

@mixin input-variant(
    $border-color: $input-border-color,
    $background-color: $input-background-color,
    $color: $input-color,
    $focus-border-color: $input-focus-border-color,
    $focus-background-color: $input-focus-background-color,
    $focus-color: $input-focus-color,
    $focus-box-shadow: $input-focus-box-shadow
) {
    @include input-button-variant(
        $border-color,
        $background-color,
        $color,
        $focus-border-color,
        $focus-background-color,
        $focus-color,
        $focus-box-shadow
    );
}

// Selects
// -----------------------------------------------------------------------------

@mixin input-select(
    $padding-right: $select-padding-right,
    $caret-image: $select-caret-image,
    $caret-position: $select-caret-position,
    $caret-size: $select-caret-size
) {
    &:not([multiple]) {
        padding-right: $padding-right;
        background-image: $caret-image;
        background-position: right $caret-position center;
        background-size: $caret-size;
        background-repeat: no-repeat;
        print-color-adjust: exact;
    }

    &[multiple] {
        height: auto;
    }
}

// Textareas
// -----------------------------------------------------------------------------

@mixin input-textarea {
    height: auto;
}

// Buttons
// -----------------------------------------------------------------------------

@mixin button($white-space: $button-white-space) {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    white-space: $white-space;
    user-select: none;
}

@mixin button-variant(
    $border-color: $button-border-color,
    $background-color: $button-background-color,
    $color: $button-color,
    $focus-border-color: $button-focus-border-color,
    $focus-background-color: $button-focus-background-color,
    $focus-color: $button-focus-color,
    $focus-box-shadow: $button-focus-box-shadow
) {
    @include input-button-variant(
        $border-color,
        $background-color,
        $color,
        $focus-border-color,
        $focus-background-color,
        $focus-color,
        $focus-box-shadow
    );
}
