// @argentinafreelance/base

@use "sass:map";
@use "sass:math";

// Options
// -----------------------------------------------------------------------------

$enable-icons: false !default;

// Spacers
// -----------------------------------------------------------------------------

$spacer: 1rem !default;

$spacers: (
    0: 0,

    2: $spacer * 0.125,
    4: $spacer * 0.25,
    6: $spacer * 0.375,
    8: $spacer * 0.5,
    10: $spacer * 0.625,
    12: $spacer * 0.75,
    14: $spacer * 0.875,
    16: $spacer * 1,
    18: $spacer * 1.125,
    20: $spacer * 1.25,
    22: $spacer * 1.375,
    24: $spacer * 1.5,
    26: $spacer * 1.625,
    28: $spacer * 1.75,
    30: $spacer * 1.875,
    32: $spacer * 2,

    1x: $spacer * 1,
    2x: $spacer * 2,
    3x: $spacer * 3,
    4x: $spacer * 4,
    5x: $spacer * 5,
    6x: $spacer * 6,
    7x: $spacer * 7,
    8x: $spacer * 8,
    9x: $spacer * 9,
) !default;

// Sizes
// -----------------------------------------------------------------------------

$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
) !default;

// Breakpoints
// -----------------------------------------------------------------------------

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

// Containers
// -----------------------------------------------------------------------------

$containers: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
) !default;

// Columns
// -----------------------------------------------------------------------------

$columns: 12 !default;
$gutter: map.get($spacers, 2x) !default;

// Typography
// -----------------------------------------------------------------------------

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Transitions
// -----------------------------------------------------------------------------

$transition-duration: 0.15s !default;
$transition-function: ease-in-out !default;
$transition-default: $transition-duration $transition-function !default;
$transition-background-color: background-color $transition-default !default;
$transition-border-color: border-color $transition-default !default;
$transition-box-shadow: box-shadow $transition-default !default;
$transition-color: color $transition-default !default;
$transition-fill: fill $transition-default !default;
$transition-base: $transition-background-color, $transition-border-color, $transition-box-shadow, $transition-color !default;

// Indexes
// -----------------------------------------------------------------------------

$zindex-stretched-link: 1 !default;
$zindex-fixed: 1000 !default;

// Utilities
// -----------------------------------------------------------------------------

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
$user-selects: all, auto, none !default;

// Root
// -----------------------------------------------------------------------------

$root-tab-size: 4 !default;

// Body
// -----------------------------------------------------------------------------

$body-background-color: $white !default;
$body-color: $black !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;
$body-font-size: 1rem !default;
$body-font-family: $font-family-sans-serif !default;
$body-line-height: 1 !default;

// Text-level semantics
// -----------------------------------------------------------------------------

$strong-font-weight: bolder !default;
$small-font-size: 0.8125em !default;
$sub-sup-font-size: 0.75em !default;
$link-transition: $transition-base !default;

// Forms
// -----------------------------------------------------------------------------

$placeholder-opacity: 0.5 !default;
$placeholder-color: inherit !default;

// Inputs & buttons
// -----------------------------------------------------------------------------

$input-button-display: inline-block !default;
$input-button-font-weight: null !default;
$input-button-font-family: null !default;
$input-button-transition: $transition-base !default;

$input-button-width: auto !default;
$input-button-padding-x: 1rem !default;
$input-button-padding-y: 0.5rem !default;
$input-button-padding: $input-button-padding-y $input-button-padding-x;
$input-button-border-width: 1px !default;
$input-button-border-radius: 0.25rem !default;
$input-button-font-size: $body-font-size !default;
$input-button-line-height: $body-line-height !default;

$input-button-disabled-opacity: 0.65 !default;
$input-button-disabled-cursor: default !default;

$input-button-focus-box-shadow-width: 0.2 !default;
$input-button-focus-box-shadow-opacity: 0.25 !default;

// Inputs
// -----------------------------------------------------------------------------

$input-border-color: $body-color !default;
$input-background-color: $body-background-color !default;
$input-color: $body-color !default;

$input-focus-border-color: $input-border-color !default;
$input-focus-background-color: $input-background-color !default;
$input-focus-color: $input-color !default;
$input-focus-box-shadow-width: $input-button-focus-box-shadow-width !default;
$input-focus-box-shadow-color: $input-focus-border-color !default;
$input-focus-box-shadow-opacity: $input-button-focus-box-shadow-opacity !default;
$input-focus-box-shadow-color-rgba: rgba($input-focus-box-shadow-color, $input-focus-box-shadow-opacity) !default;
$input-focus-box-shadow: 0 0 0 $input-focus-box-shadow-width $input-focus-box-shadow-color-rgba !default;

// Selects
// -----------------------------------------------------------------------------

$select-caret-width: $input-button-font-size * $input-button-line-height !default;
$select-caret-height: $input-button-font-size * $input-button-line-height !default;
$select-caret-background-size: $select-caret-width $select-caret-height !default;
$select-caret-background-position: math.div($select-caret-width, 3) !default;

$select-caret-fill-color: $input-border-color !default;
$select-caret-background-image: get-select-caret-image($select-caret-fill-color) !default;

$select-padding-right: $select-caret-width + ($select-caret-background-position * 2) !default;
$select-multiple-height: initial !default;

// Textareas
// -----------------------------------------------------------------------------

$textarea-height: initial !default;

// Checkboxs & radios
// -----------------------------------------------------------------------------

$checkbox-radio-transition: $input-button-transition !default;

$checkbox-radio-width: 1rem !default;
$checkbox-radio-height: 1rem !default;
$checkbox-radio-border-width: $input-button-border-width !default;

$checkbox-radio-border-color: $input-border-color !default;
$checkbox-radio-background-color: $input-background-color !default;

$checkbox-radio-checked-fill-color: $checkbox-radio-background-color !default;
$checkbox-radio-checked-border-color: $checkbox-radio-border-color !default;
$checkbox-radio-checked-background-color: $checkbox-radio-border-color !default;

$checkbox-radio-focus-box-shadow: $input-focus-box-shadow !default;
$checkbox-radio-checked-focus-border-color: transparent !default;

// Checkboxs
// -----------------------------------------------------------------------------

$checkbox-border-radius: 0.125rem !default;

$checkbox-checked-background-image: get-checkbox-checked-image($checkbox-radio-checked-fill-color) !default;

$checkbox-indeterminate-border-color: $checkbox-radio-checked-border-color !default;
$checkbox-indeterminate-background-image: get-checkbox-indeterminate-image($checkbox-radio-checked-fill-color) !default;
$checkbox-indeterminate-background-opacity: 0.5 !default;
$checkbox-indeterminate-background-color: rgba(
    $checkbox-radio-checked-background-color,
    $checkbox-indeterminate-background-opacity
) !default;

$checkbox-indeterminate-focus-border-color: $checkbox-radio-checked-focus-border-color !default;

// Radios
// -----------------------------------------------------------------------------

$radio-border-radius: 100% !default;

$radio-checked-background-image: get-radio-checked-image($checkbox-radio-checked-fill-color) !default;

// Buttons
// -----------------------------------------------------------------------------

$button-white-space: nowrap !default;

$button-border-color: $body-color !default;
$button-background-color: $body-color !default;
$button-color: $body-background-color !default;

$button-focus-border-color: $button-border-color !default;
$button-focus-background-color: $button-background-color !default;
$button-focus-color: $button-color !default;
$button-focus-box-shadow-width: $input-button-focus-box-shadow-width !default;
$button-focus-box-shadow-color: $button-focus-border-color !default;
$button-focus-box-shadow-opacity: $input-button-focus-box-shadow-opacity !default;
$button-focus-box-shadow-color-rgba: rgba($button-focus-box-shadow-color, $button-focus-box-shadow-opacity) !default;
$button-focus-box-shadow: 0 0 0 $button-focus-box-shadow-width $button-focus-box-shadow-color-rgba !default;
